<?

	// Комментарий

	$price_value_arr = array (
		array("Название", "Размеры (ШxГxВ)", "Материал обшивки", "Цена"),
		array("Sawo v135", "1100x1140x2050 мм", "Лиственница, кедр", "230000"),
		array("Sawo v135", "1100x1140x2050 мм", "Ольха, липа", "250000"),
		array("Sawo v135", "1100x1140x2050 мм", "Липа, липа", "300000")
	);

	$all_prices = "<div class='product-table__header'>";

	foreach ($price_value_arr[0] as $key => $value) {
		$all_prices .= "<div class='product-table__cell'>".$value."</div>";
	}

	$all_prices .= "</div>";

	for ($i = 1; $i < count($price_value_arr); $i++) {

		$all_prices .= "<div class='product-table__row'>";

		foreach ($price_value_arr[$i] as $key => $value) {
				$all_prices .= "<div class='product-table__cell _title'>
					<span class='product-table__cell-title'>".$price_value_arr[0][$key]."</span>
					<span class='product-table__cell-value'>".$value."</span>
				</div>";
		}
		$all_prices .= "
			<div class='product-table__cell _control'>
				<form action='".nc_modules(netshop)->get_add_to_cart_url()."' method='post' onsubmit='yaCounter39131545.reachGoal('addtocart'); return true;'>
					<input type='hidden' name='redirect_url' value='".$item[URL]."' />
					<input type='hidden' name='cart_mode' value='add' />
					<input type='hidden' name='cart[188][".$f_RowID."]' value='1' min='0' />
					<button type='submit' class='btn btn-grey btn-big pb-cart js-addToCart' data-price='".$price_value_arr[$i][3]."' onclick='ga('send', 'event', 'form', 'send', 'addtocart');'>Заказать</button>	
				</form>	
			</div>";
		$all_prices .= "</div>";
	}


?>